body {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    font-family: 'Eczar', sans-serif;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}
.grid-container img {
    width: 70%;
    height: 35%;
}
.grid-container h2 {
    font-size: 1.3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.grid-container h3 {
    font-size: 1em;
    text-align: center;
    grid-row-end: 1;
    margin-top: -0;
}
h1 {
    color:white;
    text-align: center;
    font-size: 2.5em;
    padding: 20px 0;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    background-color: #444;
    margin-top: 0;
    margin-bottom: 0;
}
.item1 img {
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-container p {
    font-size: 0.5em;
}
.item1 {
    color:green;
    min-width: 80%;
    flex: 1;
    flex-direction: row;
}
.item2 {
    color:blue;
    min-width: 80%;
}

.item2 {
    color:blue;
    min-width: 80%;
}
.item3 {
    color:#FF5A60;
}

.copyright {
    color: white;
}

.lastupdated {
    color: yellow;
    font-size: 15px;
}

footer {
    background-color: #444;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}