@media only screen and (min-width: 50rem){

  .contain1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

    }
    .one {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 5;
      
    }
    .img1 {
      max-width: 100%;
      width: 90%;
      height: 95%;
      float: right;
      
    }
    .two {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .img2, .img3, .img4 {
      max-width: 10%;
      height: 100%;
      float: right;
      
    }
    .three {
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 4;
      font-size: 2em;
    }
    
    
    .four {
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5;
      text-align: center;
    }
    nav {
      
      position: relative;
      
    }
    nav button{display: none;}
        nav ul {
            display: flex;
            float: right;
        }
        nav ul li a {
            border: none;
            
        }
    nav ul li a{
      display:block;
       padding: .2rem 2vw;
       text-decoration: none;
       color:white;
      font-size: 1.5em;
    }
    .container2 {
    
      display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px; /* Optional: Adds a gap between grid cells */
        padding: 1em;
        height: 60rem;
      }
      .contemp {
        display: flex;
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: 6;
       
      }
      .fruit-mix{
        grid-column-start: 4;
        grid-column-end: 5;
       grid-row-start: 1;
       grid-row-end: 3;
      }
      .fruit-name {
        text-align: left;
        margin-left: 10px;
        font-size: 1.3em;
      }
      .fruit-image {
        max-width: 25%;
        float: right;
        border: 3px solid rgb(190, 245, 179);
        
      }
      .drink-mix{
        padding: 5px;
      }
      .calories {
        color: white;
        font-size: 1em;
        text-align: left;
        margin-left: 20px;
        margin-top: 5px;
        
        
      }
      .sugar {
        color: white;
        font-size: 1em;
        text-align: left;
        margin-left: 20px;
        
      }
      .carbohydrates {
        color: white;
        font-size: 1em;
        text-align: left;
        margin-left: 20px;
        
      }
      .total-drink{
        font-size: 15px;
      }
      .summary-info {
        grid-column-start: 1;
        grid-column-end: 4;
       grid-row-start: 6;
       grid-row-end: 7;
       margin-left: 3em;
       margin-right: 3em;
      }
      .coastal-img {
        max-width: 50%;
        width: 80%;
       height: 10rem;
       float: left;
       
      }
      .summary-p {
        margin-top: .5em;
        font-size: 18px;
        text-align: center;
      }
      .map {
        grid-column-start: 1;
        grid-column-end: 3;
       grid-row-start: 7;
       grid-row-end: 8;
       margin-left: 5em;
      
      }
      .card {
        margin-left: 3em;
        margin-right: 3em;
      }
      .weather-item {
        grid-column-start: 4;
        grid-column-end: 5;
       grid-row-start: 3;
       grid-row-end: 8;
       margin-left: 10px;
       margin-right: 10px;
      }
      
      h3 {
        font-size: 23px;
      }
    .contain3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
      
    }
    .f-one {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .f-logo {
      max-width: 100%;
      width: 60%;
      height: 8rem;
    }
    .f-two {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      
    }
    .f-three {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
      
    }
    .p-head {
      font-size: 3.5em;
    }
    .p-head2 {
      font-size: 2em;
    }
    .f-four {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
     
    }
    .f-five {
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
      
    }
  /*About*/
  .container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4px;
    height: 60rem;
  }
  .ceo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 5px solid rgb(30, 158, 30);
    border-image-slice: 1;
   border-image-source: linear-gradient(to right, green, red);
  }
  .ceo-img {
    float: left;
   max-width: 100%;
   width: 50%;
  }
  .p-ceo {
    text-align: left;
    padding: 10px;
    margin-top: 3rem;
    color: black;
    font-size: 15px;
  }
  .diamond{
    color: blue;
  }
  .quote{
    color: rgb(9, 99, 9);
  }
  .about {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
  }
  .about-img {
    max-width: 100%;
    height: 13rem;
  }
  
  .history {
    max-width: 100%;
    
  }
  .contact {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(214, 207, 207);
    padding: 10px;
    text-align: center;
    margin-top: 1em;
  }
  .maps {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 5px solid rgb(197, 193, 193);
    margin-top: .5em;
  }
  iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }


  /*Fresh Page*/

  #fruit-drink {
    margin-left: 4em;
    margin-right: 4em;
}
}
