*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: white;
    max-width: 1100px;
  
    margin: auto;
    border: 1px solid #EDEADE;
    box-shadow:5px  5px 50px grey;
  }
  .contain1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    

  }
  .img1 {
    
    box-shadow:10px -10px  10px rgba(6, 155, 33, 0.8),-10px 10px  5px  rgba(173, 171, 12, 0.8);
    max-width: 90%;
    height: 10rem;
    float: right;
  }
  .two {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    
  }
  h1{
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
    color: red;
  }
  .p1 {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    color: green;
  }
  .logos1, .logos2, .logos3{
    padding-top: 1em;
    max-width: 10%;
    float: right;
    
  }
  
  .three {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    font-size: 1.5em;
  }
  .four {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 3rem;
    background-color: green;
  }
  #hamburger-btn span:nth-child(1) {display: block;}
  #hamburger-btn span:nth-child(2) {display: none;}
  
  #hamburger-btn.open span:nth-child(1) {display: none;}
  #hamburger-btn.open span:nth-child(2) {display: block;}
  nav {
    background-color: green;
    position: relative;
  }
  nav ul {display: none;}
    nav ul.open {display: block;}
  nav ul {
    list-style-type: none;
  }
  nav ul li a{
    display:block;
    padding: .6rem 2.8vw;
    text-decoration: none;
    color:red;
   
    font-size: 1.5em;
  }
  nav ul li a:hover {
    background-color: #444;
    color:yellow;
  }
  #hamburger-btn{
    color: red;
    float: left;
    padding: 8px;
    margin: 2px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; /* Optional: Adds a gap between grid cells */
    height: 63rem;
    padding: 1em;
  }
  .container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px; /* Optional: Adds a gap between grid cells */
    padding: 1em;
    
    height: 110rem;
  }
  .contemp {

   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
   
   
  }
  #contemps-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .fruit-mix{
    grid-column-start: 1;
    grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: rgb(192, 74, 74);
   
  }
  .fruit-name {
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
  }
  .fruit-image {
    max-width: 30%;
    float: right;
    border: 3px solid rgb(214, 247, 207);
    margin-top: -4em;
    margin-bottom: 3px;
  }
  .drink-mix{
    padding: 5px;
  }
  .calories {
    color: white;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    
  }
  .sugar {
    color: white;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    
  }
  .carbohydrates {
    color: white;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    
  }
  .total-drink{
    background-color: white;
    color: green;
    padding: 5px;
    font-size: 13px;
  }
  .summary-info {
    grid-column-start: 1;
    grid-column-end: 2;
   grid-row-start: 4;
   grid-row-end: 5;
   background-color: #A46628;
  
  }
  .summaries {
    background-color: #A46628;
    border: 1px solid white;
  }
  .coastal-img {
    max-width: 100%;
    width: 100%;
   height: 7rem;
   border: 1px solid white;
   
   
  }
  .summary-p {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  .map {
    grid-column-start: 1;
    grid-column-end: 2;
   grid-row-start: 5;
   grid-row-end: 6;
    padding: 10px;
    border: 5px solid rgb(202, 202, 202);
    background-color: rgb(158, 14, 14);
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, green);
  }
  .card {
    text-align: center;
    background-color: white;
    color: rgb(158, 14, 14);
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
    font-size: 1.3em;
  }
  .card1 {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    color: white;
  }
  
  .weather-item {
    grid-column-start: 1;
    grid-column-end: 2;
   grid-row-start: 6;
   grid-row-end: 7;
    text-align: center;
    padding: 5px;
    border: 5px solid rgb(30, 158, 30);
    margin-left: 20px;
    margin-right: 20px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, green, red);
    background-color: #444;
  }
  .today {
    border-bottom: 5px solid rgb(222, 230, 189);
    box-shadow: #333;
    margin-bottom: 10px;
  }
  .weather-header {
    color: white;
    font-size: 1.4em;
  }
  h3 {
    color: rgb(171, 181, 235);
  }
  h2 {
    color: white;
    font-size: 1.5em;
  }
 #forecast{
  color: white;
  text-align: center;
  font-size: 20px;
  
  
 }
 .forecast-1 {
  color: white;
 }
  .contain3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr;
    border: 1px solid red;
    height: 14rem;
    background-color: green;
  }
  .f-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .f-logo {
    max-width: 100%;
    width: 100%;
    height: 4rem;
  }
  .f-two {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    color: white;
    padding-top: 5px;
    margin-bottom: -1em;
    
  }
  .f-three {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    
  }
  .p-foot{
    font-family: 'Noto Serif', serif;
    color: red;
    font-size: 2em;
    background-color: white;
  }
  .p-foot2{
    font-family: 'Noto Serif', serif;
    color: green;
    font: 10px;
    background-color: white;
  }
  .f-four {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
  }
  .f-map {
    float: right;
    color: #F5F5F5;
  }
  .f-p {
    margin-top: 2px;
    text-align: right;
    color: white;
  }
  .f-five {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(180, 15, 15);
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 2px;
    border-top: 1px solid red;
    border-radius: 10px;
  }


      /*Drinks*/
      #special-drinks {
        display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 10px;
        text-align: center;
        padding: 10px;
        color: black;
        background-color: rgb(175, 32, 32);
      }
      .menu1 {
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 5px;
      }
      .drink {
        border: 1px solid white;
        padding: 10px;
        background-color: rgb(175, 32, 32);
      }
      .nutritional-facts {
        margin: 0 auto;
        color: white;
      }
      p{
        color: white;
      }
      /*About*/
      .container-about {
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 4px;
      }
      .ceo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border: 5px solid rgb(30, 158, 30);
        border-image-slice: 1;
       border-image-source: linear-gradient(to right, green, red);
      }
      .ceo-img {
        max-width: 98%;
        width: 98%;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        height: 25rem;
        margin-left: 5px;
      }
      .p-ceo {
        text-align: center;
       color: black;
        font-size: 14px;
        padding: 5px;
      }
      .diamond{
        color: blue;
      }
      .quote{
        color: rgb(9, 99, 9);
        text-align: center;
        padding-bottom: 5px;
        font-size: 13px;
      }
      .about {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        margin-right: 20px;

      }
      .about-img {
        max-width: 100%;
        width: 100%;
        height: 11rem;
      
      }
      
      .history {
        max-width: 100%;
        width: 100%;
        height: 12rem;
        
      }
      
      .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: rgb(214, 207, 207);
        padding: 15px;
        text-align: center;
      }
      #join-form {
        width: 100%;
       padding: 5px;
       font-size: 15px;
      }
      label {
        font-size: 15px;
      }
      .first-label {
        display: flex;
        flex-direction: column;
        color: black;
        max-width: 100%;
        text-align: left;
      }
      
      input, select, textarea {
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
      }
      input[type="submit"] {
        cursor: pointer;
        margin-top: 2px;
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 10px;
        max-width: 85%;
        float: left;
      }
      input[type="submit"]:hover {
        background-color: darkgreen;
      }
      
      
      
    
      .maps {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        border: 5px solid rgb(197, 193, 193);
        
      }
      iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      /*Fresh Page*/
      
      .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
        color: white;
        
      }
      #fruit-drink{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: #737373;
        padding: 20px;
        margin: 15px;
        border-radius: 10px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        
      }

      .select-wrapper {
        position: relative;
        margin-bottom: 10px;
      }
      
      select {
        width: 50%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        
        background: url("dropdown-arrow.png") no-repeat right center;
      }
 
      input[type="button"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type="button"]:hover {
        background-color: red;
      }
      .form-images {
        visibility: hidden;
        position: absolute;
      }
      



      .thank-you {
        text-align: center;
    }
    .thanky {
        font-size: 3em;
        color: blue;
    }
    p.ty {
        font-size: 2em;
        color: blueviolet;
        margin-bottom: 10rem;
    }
    