*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: white;
    max-width: 800px;
    margin: auto;
    border: 1px solid white;
    box-shadow:5px  5px 50px grey;
    
  }
  header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 0.1em;
    border-radius: 10px;
    font-size: 1em;
    
  }
   
  h2 {
    font-size: 1.5em;
    color: #097969;
  }
  h3 {
    font-size: 1em;
    margin-top: 1.5em;
    color: #9A871D;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 150%;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 3em;
    
  }
  nav {
    background-color: #808080;
    text-align: left;
    box-shadow: 0 5px 15px white;
    padding-top: 0%;
    color: white;
    border-radius: 6px;
    
    

  }
  nav ul li a {
    color:white;
  }
  ul, li, ol {
    font-size: 15px;
    
  }
  li {
    display: block;
    display: flex;
    margin-left: 3em;
    font-size: 1.3em; 
    text-align: left;
    
  }
  li :hover {
    color: yellow;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px;
    
    
    
    
  }
  ul {
    list-style-type: disc;
  }
  main {
    /* width: 97%; */
    height: calc(100% - 5em - 6em - 4em + 5px);
    margin: 25px 25px 25px 25px;
    position: relative;
  }
  header, nav, main, footer {
    max-width: 800px;
    /* margin: 0 auto; */
  }
  main {
    display: block;
  }
  * {
    font-family: 'Gugi', sans-serif;
  }



.copyright{
  font-size: 0.7em;
}

footer {
  background-color: #444;
  color: yellow;
  margin-top: 2em;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
}
