@media only screen and (min-width: 35em){
    header{
        
        margin-bottom:-1em;
    }
    h1 {
        font-size: 2em;
        margin:-.3em;
    }
    h2{
      
        font-size: 1.2em;
        margin:0em;
      }
    .copyright{
        font-size: 1.3em;
    }
    footer {
        margin-top:-1em;
    }
}