@media only screen and (min-width: 32.5rem){
    #banner {
        padding: 7px;
        font-size: 13px;
      }img {
        max-width: 22%;
        
        
    }
    img.logos {
        max-width: 7%;
        float:right;
        margin-top: 0em;
        margin-right: 0.7em;
    }
    h1 {
        font-size: 4.3em;
        text-align: center;
        margin-top: -1.4em;
        margin-bottom: -.1em;
        margin-left: 1.5em;
        color: white;
    }
    h2 {
        font-size: 2em;
        text-align: center;
        margin-top: .3em;
    }
    .date {
        background-color: #6B6B6B;
        text-align: center;
        box-shadow: 0 5px 15px white;
        padding-top: 0%;
        color: white;
        border-radius: 6px;
        font-size: 1.2em;
        padding:.5em
        
      }
    nav button {
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
    }
    #hamburger-btn span:nth-child(1) {display: block;}
    #hamburger-btn span:nth-child(2) {display: none;}

    #hamburger-btn.open span:nth-child(1) {display: none;}
    #hamburger-btn.open span:nth-child(2) {display: block;}
    nav ul {display: none;}
    nav ul.open {display: block;}
    nav ul {
        list-style-type: none;
    }
    nav {
        padding: 6px;
    }
    nav ul li a{
        display:block;
         padding: .8rem 1.8vw;
         text-decoration: none;
         color:black;
        border-top: 1px solid black;
        font-size: 1.5em;
    }   
    nav ul li a:hover {
         background-color: #444;
        color:yellow;
    }
    .container {
        display: grid;
        grid-gap:5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr  ;
        text-align: left;
        padding: 10px;
    }
    .container >div{
        padding: 2px;
        
    
    }
    .container >div:nth-child(1) {
        
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    img.guyana-pic {
        width:100%;
        height: 100%;
       }
    .container >div:nth-child(2) {
        
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 3;
        
        grid-row-start: 5;
        grid-row-end: 6;
        float: left;
        width: 100%;
    }
    .container >div:nth-child(3) {
        float: right;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        width: 100%;
        
    }
    .container >div:nth-child(4) {
        
        visibility: visible;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .container >div:nth-child(5) {
        
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    
    .spotlight {
        
        grid-column: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        
    }
    h5 {
        font-size: 1.3em;
        margin-top: -.4em;
    }
    p.p5 {
        font-size: 15px;
        margin-top: 1.5em;
        color: yellow;
        text-align: center;
        
      }
    .spotlight >div:nth-child(1) {
            
        float: left;
        width: 50%;
        height: 100%;
        }
    .spotlight >div:nth-child(2) {
        
        float: right;
        width: 50%;
        height: 100%;
        
    }
    .spotlight >div:nth-child(3) {
        
        visibility: hidden;
    }
    img.logos-footer {
        max-width: 20%;
        margin:.5em;
        float: left;
    }
    
    p.country{
        color:white;
        text-align: right;
        margin-right: 1.5em;
    }
    .copyright{
        font-size: 1.2em;
    }
    .map {
        color:white;
        float: right;
        margin-right: 2em;
        margin-top: 1em;
    }
    h6 {
        font-size: 2em;
        color: yellow;
        text-align: center;
        margin-top: 1em;
        margin-left: 3em;
    }
    footer {
        background-color: #444;
        color: yellow;
        margin-top: -.5em;
        padding: 0em;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 15px black;
        border-top: 1px solid white;
        }
    }