@media only screen and (min-width: 32.5rem){
    #banner {
        padding: 7px;
        font-size: 13px;
      }img {
        max-width: 22%;
        
        
    }
    img.logos {
        max-width: 7%;
        float:right;
        margin-top: 0em;
        margin-right: 0.7em;
    }
    h1 {
        font-size: 4.3em;
        text-align: center;
        margin-top: -1.4em;
        margin-bottom: -.1em;
        margin-left: 1.5em;
        color: white;
    }
    h2 {
        font-size: 2em;
        text-align: center;
        margin-top: .3em;
    }
    .date {
        background-color: #6B6B6B;
        text-align: center;
        box-shadow: 0 5px 15px white;
        padding-top: 0%;
        color: white;
        border-radius: 6px;
        font-size: 1.2em;
        padding:.5em
        
      }
    nav button {
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
    }
    #hamburger-btn span:nth-child(1) {display: block;}
    #hamburger-btn span:nth-child(2) {display: none;}

    #hamburger-btn.open span:nth-child(1) {display: none;}
    #hamburger-btn.open span:nth-child(2) {display: block;}
    nav ul {display: none;}
    nav ul.open {display: block;}
    nav ul {
        list-style-type: none;
    }
    nav {
        padding: 6px;
    }
    nav ul li a{
        display:block;
         padding: .8rem 1.8vw;
         text-decoration: none;
         color:black;
        border-top: 1px solid black;
        font-size: 1.5em;
    }   
    nav ul li a:hover {
         background-color: #444;
        color:yellow;
    }
    .container {
        display: grid;
        grid-gap:5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        text-align: left;
        padding: 10px;
    }
    
    .hero-item {
        
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    img.guyana-pic {
        width:100%;
        height: 310px;
       }
    .interactive-item {/* 2*/
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        
        
    }
    .weather-item {/* 3 */
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        
        
      }
      #weather-icon {
        max-width: 70%;
        float: right;
      }
      
      .weather-header {
        
        color: yellow;
        text-align: left;
        font-size: 1.5em;
        margin: .1em;
        padding-bottom: 1em;
        
    
      }
      #temperature {
        color: white;
        text-align: right;
        margin-top: -1.8em;
        font-size: 1.2em;
        padding: 5px;
      }
      #conditions {
        font-size: 1.3em;
        color: yellow;
        text-align: left;
        padding-bottom: 5px;
         
      }
    
     #wind-speed {
        font-size: 1em;
      color: white;
      text-align: left;
     }
     #wind-chill {
        font-size: 1em;
      color: white;
      text-align: left;
     }
    .join-item {
        visibility: visible;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        border-radius: 15px;
        
       
    }
    .join-pic {
        height: 8rem;
        max-width: 100%;
        width: 97%;
      }
      
      p.p3 {
        font-size: 1em;
        margin-top:-4em;
        padding: 5px;
        color: black;
        text-align: center;
        
      }
      .click-j {
        color: #8F0000;
        text-align: center;
        margin-top:1em;
          
        margin-left: 2em;
        
      }
       .news-item {/* 2 */
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      } 
      p.p4 {
        margin-top: 10px;
      }
        
      .spotlight-item {/* 3 */
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        height: 100%;
        
        
      }
      .spotlight1 {
        float: left;
        width: 49%; 
        height: 9rem;
        margin-right: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .spotlight2 {
        float: right;
        width: 49%;
        height: 9rem;
        margin-right: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .spotlight3 {
        display: none;
        
    }
    
    
    img.logos-footer {
        max-width: 20%;
        margin:.5em;
        
    }
    
    p.country{
        font-size: .8em;
        color:white;
        text-align: right;
        margin-right: 1.5em;
        margin-top: -.8em;
    }
    .copyright{
        font-size: 1em;
    }
    .map {
        color:white;
        float: right;
        margin-right: 2em;
        margin-top: 1em;
        margin-left: 5em;
    }
    .footer-head  {
        font-size: 1.4em;
        color: yellow;
        text-align: left;
        margin-top: 8px;
        margin-left: 5em;
    }
    footer {
        background-color: #444;
        color: yellow;
        margin-top: -.4em;
        padding: 0em;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 15px black;
        border-top: 1px solid white;
        }
    }