*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: white;
    max-width: 1100px;
    height: 75rem;
    margin: auto;
    border: 1px solid #EDEADE;
    box-shadow:5px  5px 50px grey;
  }
  #banner {
    
    background-color: #f7f7f7;
    padding: 4px;
    font-size: 10px;
    float: right;
  }
  
  header {
    background-color: #444;
    
  }
  
  img {
    max-width: 23%;
    border-radius: 8px;
    margin: .5em;
  }
  img.logos {
    max-width: 8%;
    float:right;
    border-radius: 5px;
    margin-top: .5em;
    
  }
  h1 {
    font-size: 2.7em;
    text-align: center;
    margin-top: -1.5em;
    margin-left: 2em;
    color: white;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    color: yellow;
    margin-left: 0.5em;
    margin-top: -1em;
  }
  .date {
    background-color: #6B6B6B;
    text-align: center;
    box-shadow: 0 5px 15px white;
    padding-top: 0%;
    color: white;
    border-radius: 6px;
    font-size: .8em;
    padding:1em
    
  }
  
  nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
  }
  #hamburger-btn span:nth-child(1) {display: block;}
  #hamburger-btn span:nth-child(2) {display: none;}
  
  #hamburger-btn.open span:nth-child(1) {display: none;}
  #hamburger-btn.open span:nth-child(2) {display: block;}
  nav {
    background-color: #eee;
  }
  nav ul {display: none;}
    nav ul.open {display: block;}
  nav ul {
    list-style-type: none;
  }
  nav ul li a{
    display:block;
    padding: .6rem 2.8vw;
    text-decoration: none;
    color:black;
    border-top: 1px solid black;
    font-size: 1.5em;
  }
  nav ul li a:hover {
    background-color: #444;
    color:yellow;
  }
  /* Optional: Adds a gap between grid cells */
  .container {
    display: grid;
    grid-template-columns: repeat( 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px; /* Optional: Adds a gap between grid cells */
    height: 63rem;
    padding: 1em;
    background-color: black;
    
  }
  .container >div:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .hero-item { /* 1 */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    
  }
  .guyana-pic {
    max-width: 96%;
    height: 96%;
    width: 100%;
  
  
  }
  .hero1 {
    text-align: center;
    font-size: 1.3em;
    position:absolute;
    color: red;
    padding: .5em;
  }
  .interactive-item {/* 2*/
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border-radius: 15px;
    
  }
  .int-header {
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding: 5px;
    margin: .4em;
    margin-top: .6em;
    background-color: #444;
    border-radius: 30px 40px 30px 40px;
    
  }
  p.p2 {
    font-size: 1.2em;
    color: rgb(182, 37, 37);
    text-align: center;
  }
  #weather-icon {
    max-width: 100%;
    float: right;
  }
  .weather-item {/* 3 */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 15px;
    background-color: rgb(34, 34, 128);
    padding: .5em;
  }
  .weather-header {
    
    color: yellow;
    text-align: left;
    font-size: 1.7em;
    margin: .1em;
    

  }
  #temperature {
    color: white;
    text-align: right;
    font-size: 1.5em;
  }
  #conditions {
    font-size: 1.5em;
    color: yellow;
    text-align: left;
    margin-top: -1em;
    padding-bottom: 5px;
     
  }

 #wind-speed {
  color: white;
  text-align: left;
 }
 #wind-chill {
  color: white;
  text-align: left;
 }
  .join-item {
    visibility: hidden;
    color: white;
   
  }
  
 
  .news-item {/* 4 */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #e0dbdb;
    border-radius: 15px;
  }
  .news-header {
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color:#444;
    border-radius: 30px 40px 30px 40px;
    margin-top: .5em;
    margin-left: 4em;
    margin-right: 4em;
    padding: .3em;
  }
  
  .news-pic {
    max-width: 12%;
    float: right;
  }
  
  
  p.p4 {
    margin-top: 5px;
    font-size: 1em;
    color: #8F0000;
      
    text-align: center;
    
  }
  .spotlight-item {/* 5-6 */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 15px;

    
    
  }
  .spotlight-div {
    background-color: #444;
    padding: .5em;
    margin: 0 auto;
    border: 1px solid yellow;
    border-radius: 15px;
  }
 #member-image {
  float: right;
 }

  h4 {
    text-align: left;
    padding: 7px;
    font-size: 1.5em;
    
  }
  #member-p {
    font-size: 1em;
    color: #8F0000;
    padding-left: 5px;
    padding-right: 5px;
  }
  .spotlight1 {
    background-color: #e0dbdb;
    border-radius: .5em;
    padding: 1px;
    margin-bottom: 4px;
}

.spotlight2 {
    padding: 1px;
    background-color: #e0dbdb;
    border-radius: .5em;
   
}

.spotlight3 {
    display: none;
    background-color: #e0dbdb;
    
    border-radius: 0.5em;
  
}

  img.logos-footer {
    max-width: 22%;
    margin: -1em;
    float: left;
    padding: .5em;
}
.footer-head {
    font-size: 1.2em;
    color: yellow;
    text-align: center;
    margin-top: -.5em;
    
}
p.country{
    color:white;
    font-size: .8em;
}
.map {
  font-size: 11px;
    color:white;
  float: right;
  margin-right: -2em;
    
    
}
.lastupdated {
  font-size: .8em;
  padding-bottom: 2px;
}
footer {
    
  height: 13em;
    background-color: #444;
    color: yellow;
    padding: 1.3em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    border-top: 1px solid white;
    
}