*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #333;
  background-color: white;
  max-width: 1100px;
  margin: auto;
  border: 1px solid #EDEADE;
  box-shadow:5px  5px 50px grey;
}
#banner {
  
  background-color: #f7f7f7;
  padding: 4px;
  font-size: 10px;
  float: right;
}

header {
  background-color: #444;
  
}

img {
  max-width: 23%;
  border-radius: 8px;
  margin: .5em;
}
img.logos {
  max-width: 8%;
  float:right;
  border-radius: 5px;
  margin-top: .5em;
  
}
h1 {
  font-size: 2.7em;
  text-align: center;
  margin-top: -1.5em;
  margin-left: 2em;
  color: white;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  color: yellow;
  margin-left: 0.5em;
  margin-top: -1em;
}
.date {
  background-color: #6B6B6B;
  text-align: center;
  box-shadow: 0 5px 15px white;
  padding-top: 0%;
  color: white;
  border-radius: 6px;
  font-size: .8em;
  padding:1em
  
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
}
#hamburger-btn span:nth-child(1) {display: block;}
#hamburger-btn span:nth-child(2) {display: none;}

#hamburger-btn.open span:nth-child(1) {display: none;}
#hamburger-btn.open span:nth-child(2) {display: block;}
nav {
  background-color: #eee;
}
nav ul {display: none;}
  nav ul.open {display: block;}
nav ul {
  list-style-type: none;
}
nav ul li a{
  display:block;
  padding: .6rem 2.8vw;
  text-decoration: none;
  color:black;
  border-top: 1px solid black;
  font-size: 1.5em;
}
nav ul li a:hover {
  background-color: #444;
  color:yellow;
}
.container {
  display: grid;
  grid-gap:5px;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr  ;
  text-align: left;
  padding: 10px;
  background-color:#101010;
  
}
.container >div{
  width: 100%;
  height: 13em;
  border-radius: 15px;
}
.container >div:hover {
  transform: scale(1.1);
  z-index: 1;
}
.container >div:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  margin-bottom: .5em;
  
}
img.guyana-pic {
 max-width: 100%;
 width: 100%;
 height: 100%;

}

h3 {
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  color: black;
  padding: .5em;
}


.hidden {
  display: none;
}
.container >div:nth-child(2) {
  grid-column-start: 1;
  background-color: #444;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: .3em;
}
p.p2 {
  font-size: 1em;
  padding-top: 100px;
  background-color: #444;
  color: yellow;
  text-align: center;
}
.container >div:nth-child(3) {
  background-color: #444 ;
  grid-column-start: 1;
  max-width: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
}
.w-header {
  
  color: white;
  text-align: center;
  padding: 1em;
  width: 18.2%;
  border-radius: 8px;
}
.weather {
  text-align: left;
  margin-top: 6em;
  color:yellow;
}
#temperature {
  float:right;
  font-size: 2em;
  margin-top: -1em;
  color: yellow;
  
}
#conditions {
  float:center;
  border-bottom: 1px solid white;
  font-size: 1.5em;
  color: yellow;
}
#wind-speed {
  color:white;
  margin-top: 10px;
}
#wind-chill{
  color: white;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  color: white;
  padding-left: 2em;
  padding-top: 1em;
  
}
p.p3 {
  font-size: 1em;
  padding-top: 120px;
  
  color: yellow;
  text-align: center;
  
}
.container >div:nth-child(4) {
  background-color: white;
  visibility: hidden;
  border: 1px solid gold;
}
.join-pic {
  max-width: 95%;
  width: 100%;
  height: 95%;
  
}

p.p3 {
  font-size: 1em;
  margin-top:-13em;
  
  color: black;
  text-align: center;
  
}
.container >div:nth-child(5) {
  
  text-align: left;
  grid-column-start: 1;
  background-color: #444;
  grid-row-start: 4;
  grid-row-end: 5;
}
.news-pic {
  float: right;
}

p.p4 {
  font-size: 1em;
  padding-top: 90px;
  
  color: yellow;
  text-align: center;
  
}
.spotlight {
  border-radius: 25px;
  grid-column: 1;
  grid-row-start: 5;
  grid-row-end: 6;
  
}
.spotlight >div:hover {
    transform: scale(1.01);
    z-index: 1;
  
} 
.spotlight >div:nth-child(1) {
  background-color: #6B6B6B;
    padding:40px;
    border:1px solid yellow;
}
h5 {
  text-align: center;
  font-size: 1.4em;
  position:absolute;
  color: white;
  margin-top: -.8em;
}
p.p5 {
  font-size: 1em;
  padding-top: 5px;
  margin-top: 2em;
  color: yellow;
  text-align: center;
}
.spotlight >div:nth-child(2) {
    padding:40px;
    margin-bottom: -1em;
    background-color: #444;
    border:1px solid yellow;
}
.spotlight >div:nth-child(3) {
    visibility: hidden;
    border:1px solid yellow;
    padding:40px;
    background-color:#6B6B6B;
  }
.copyright{
    margin-top: .5em;
    padding-top: .5em;
    border-top: 1px solid #909090;
    font-size: 0.7em;
}
img.logos-footer {
    max-width: 25%;
    margin: -1em;
    float: left;
}
h6 {
    font-size: 2em;
    color: yellow;
    text-align: left;
    margin-top: -1em;
    margin-left: 3em;
}
p.country{
    color:white;
}
.map {
    color:white;
    text-align: right;
    margin-right: -13em;
    
}
  
footer {
  height: 21em;
    background-color: #444;
    color: yellow;
    margin-top: -.3em;
    padding: 2em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    border-top: 1px solid white;
}
  
