@media only screen and (min-width: 50rem){
    #banner {
        padding: 7px;
        font-size: 13px;
      }
      img {
        max-width: 20%;
        border-radius: 8px;
      }
    nav button{display: none;}
    nav ul {
        display: flex;
        margin-left: .1vw;
        border-left: 1px solid;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid;
    }
    h1 {
        
        font-size: 5.2em;
        text-align: center;
        margin-top: -1em;
        margin-left: 1em;
    }
    h2 {
        font-size: 2em;
        margin-left: 2em;;
    }
    h4 {
        font-size: 1.1em;
        text-align: left;
        padding-left: .3em;
    }
    img.logos {
        border-radius: 15px;
        float: right;
        max-width: 5%;
      }

    img.logos-footer {
        max-width: 20%;
        margin:.5em;
        float:left;
    }
    
    nav ul li a{
        display:block;
         padding: .6rem 2.8vw;
         text-decoration: none;
         color:black;
        border-top: 1px solid black;
        font-size: 1.5em;
    } 
   
    h5 {
        font-size: 1em;
        margin-left: -.8em;
        text-align: left;
    }
    
    .fooer-head {
        font-size: 2em;
        color: yellow;
        text-align: left;
        margin-top: 1em;
        margin-left: -5em;
       
    }
    p.country{
        color:white;
        text-align: right;
        margin-right: 2.5em;
        margin-top: -.5em;
    }
    .copyright{
        font-size: 1.4em;
        margin-top: -.5em;
        margin-top: 0em;
        padding-top: 0em;
        
      }
      .map {
        color:white;
        float: right;
        margin-right: 1em;
        margin-bottom: -3em;
      }
    footer {
        
        background-color: #444;
        color: yellow;
        border-radius: 15px;
        box-shadow: 0 0 15px black;
        margin-top: -.1em;
        
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      
      .c-heading {
        font-size: 3em;
        text-align: center;
        margin-bottom: .5em;
      }
      fieldset {
        margin: 1.5em;
        grid-column-start: 1;
        height: 20rem;
        padding: 5px;
      }
      .c-phone{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 10px;
      }
      .c-email{
        font-size: 1.3em;
        text-align: center;
        padding-bottom: 1em;
      }
      .fb {
        font-size: 1.5em;
        color: #1877F2;
        text-align: center;
        
      }
      .ldin {
        
        font-size: 1.5em;
        color: white;
        background: #0072b1;
        text-align: center;
        border-radius: 5px;
      }
      .join-form {
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: #444;
        padding:5px;
        border: 1px solid black;
        margin: 1em;
        margin-left: 4em;
        width: 80%;
        gap: 15px;
        border-radius: 5px;
        margin-bottom: 10em;
      }

      label {
        padding:.5em;
      }
      
      .first-label {
        display: flex;
        flex-direction: column;
        color: yellow;
        max-width: 100%;
      }
      
      input, select, textarea {
        padding: 10px;
        font-size: 1em;
        border-radius: 10px;
      }
      input[type="submit"] {
        cursor: pointer;
        margin-top: 1em;
        margin-bottom: 10px;
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 10px;
        max-width: 85%;
      }
      input[type="submit"]:hover {
        background-color: darkgreen;
      }
    
    }