*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #333;
  background-color: white;
  max-width: 1100px;
  margin: auto;
  border: 1px solid #EDEADE;
  box-shadow:5px  5px 50px grey;
}
#banner {
  
  background-color: #f7f7f7;
  padding: 4px;
  font-size: 10px;
  float: right;
}

header {
  background-color: #444;
  
}

img {
  max-width: 23%;
  border-radius: 8px;
  margin: .5em;
}
img.logos {
  max-width: 8%;
  float:right;
  border-radius: 5px;
  margin-top: .5em;
  
}
h1 {
  font-size: 2.7em;
  text-align: center;
  margin-top: -1.5em;
  margin-left: 2em;
  color: white;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  color: yellow;
  margin-left: 0.5em;
  margin-top: -1em;
}
.date {
  background-color: #6B6B6B;
  text-align: center;
  box-shadow: 0 5px 15px white;
  padding-top: 0%;
  color: white;
  border-radius: 6px;
  font-size: .8em;
  padding:1em
  
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
}
#hamburger-btn span:nth-child(1) {display: block;}
#hamburger-btn span:nth-child(2) {display: none;}

#hamburger-btn.open span:nth-child(1) {display: none;}
#hamburger-btn.open span:nth-child(2) {display: block;}
nav {
  background-color: #eee;
}
nav ul {display: none;}
  nav ul.open {display: block;}
nav ul {
  list-style-type: none;
}
nav ul li a{
  display:block;
  padding: .6rem 2.8vw;
  text-decoration: none;
  color:black;
  border-top: 1px solid black;
  font-size: 1.5em;
}
nav ul li a:hover {
  background-color: #444;
  color:yellow;
}


.copyright{
    margin-top: .5em;
    padding-top: .5em;
    border-top: 1px solid #909090;
    font-size: 0.7em;
}
img.logos-footer {
    max-width: 22%;
    margin: -1em;
    float: left;
}
.foot-head {
    font-size: 1.2em;
    color: yellow;
    text-align: center;
    margin-top: -.5em;
    
}
p.country{
    color:white;
    font-size: .8em;
}
.map {
  font-size: 11px;
    color:white;
  float: right;
  margin-right: -2em;
    
    
}
.lastupdated {
  font-size: .8em;
  padding-bottom: 2px;
}
footer {
  height: 14em;
    background-color: #444;
    color: yellow;
    
    padding: 1.3em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    border-top: 1px solid white;
}
/*Contacts*/
.container {
  display: grid;
  grid-template-columns: 1fr;
}
.c-heading {
  font-size: 3em;
  text-align: center;
  margin-bottom: .5em;
}
fieldset {
  margin: 2em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: #e0dbdb;
  border: 1px solid #e0dbdb;
  
}
legend {
 background-color:  #444;
  padding: 10px;
  color: yellow;
}
.c-phone{
  font-size: 1.5em;
  color: #990000;
  text-align: center;
  padding: 5px;
}
.c-email{
  font-size: 1.5em;
  color: #990000;
  text-align: center;
  padding-bottom: 1em;
  padding: 5px;
}
.fb {
  padding: .3em;
  font-size: 1.5em;
  color: #1877F2;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  
}
.ldin {
  padding: 2px;
  font-size: 1.5em;
  color: white;
  background: #0072b1;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}
.join-form {
  background-color: #444;
  padding:10px;
  border: 1px solid black;
  margin: 0 auto;
  width: 70%;
  gap: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.s-m {
  font-size: 1.2em;
  color: #9E0000;
  text-align: center;
  background-color: yellow;
  padding: 5px;
  margin: .4em;
  border-radius: 25px 15px;
}
label {
  padding:5px;
}

.first-label {
  display: flex;
  flex-direction: column;
  color: yellow;
  max-width: 100%;
}

input, select, textarea {
  padding: 7px;
  font-size: 1em;
  border-radius: 10px;
}
input[type="submit"] {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  max-width: 85%;
}
input[type="submit"]:hover {
  background-color: darkgreen;
}

.thank-you {
  text-align: center;
}
.thanky {
  font-size: 3em;
  color: blue;
}
p.ty {
  font-size: 2em;
  color: blueviolet;
}
a.ty {
  font-size: 2em;
  color: red;
}